{% extends 'base.html.twig' %}
{% block content %}
    <div class="content mt-3">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col" class="th">ID</th>
                <th scope="col" class="th">NIT</th>
                <th scope="col" class="th">NOMBRE</th>
                <th scope="col" class="th">DIRECCIÓN</th>
                <th scope="col" class="th">TELÉFONO</th>
                <th scope="col" class="th">DESDE</th>
                <th scope="col" class="th">HASTA</th>
                <th scope="col" class="th">SIGUIENTE</th>
                <th scope="col" class="th"></th>
            </tr>
            </thead>
            <tbody>
            {% for arEmpresa in arEmpresas %}
                <tr>
                    <th scope="row">{{ arEmpresa.codigoEmpresaPk }}</th>
                    <td>{{ arEmpresa.nit }}</td>
                    <td>{{ arEmpresa.nombre }}</td>
                    <td>{{ arEmpresa.direccion }}</td>
                    <td>{{ arEmpresa.telefono }}</td>
                    <td>{{ arEmpresa.desde }}</td>
                    <td>{{ arEmpresa.hasta }}</td>
                    <td>{{ arEmpresa.consecutivo }}</td>
                    <td style="text-align: center;">
                        <a title="Editar el registro"
                           href="{{ path('administracion_empresa_nuevo',{'id' : arEmpresa.codigoEmpresaPk }) }}">
                            <span class="fa fa-edit" style="color: black;font-size: medium;"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
        <div class="row float-right" style="padding-right: 15px;">
            <a href="{{ path('administracion_empresa_nuevo',{'id':0}) }}"
               class="btn btn-sm btn-secondary  float-right">Nuevo</a>
        </div>
        <div class="btn-group" style="float: left;padding-top: 2px;">
            <div class="btn btn-light btn-sm" style="border-style: solid!important;border-color: lightgray;">Registros
                <span class="badge badge-secondary">{{ arEmpresas.getTotalItemCount }}
            </span>
            </div>
        </div>
        &nbsp;
        <div class="btn-group">
            {{ knp_pagination_render(arEmpresas) }}
        </div>
    </div>
    <style type="text/css">
        .th {
            font-size: 12px !important;
        }
    </style>
{% endblock %}