{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form,{'attr':{'class' : 'form-horizontal'}}) }}
    <div class="content mt-3" style="margin-bottom: 15px;">
        <div class="card">
            <div class="card-header">
                Información general <span class="fa fa-question-circle float-right"
                                          style="color: grey;padding-top: 3px;"
                                          title="Para ver el nombre completo de los campos con puntos (e.j: Por.), posicione el ratón sobre el nombre"></span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="" class="col-sm-2 badge">Nombre:</label>
                            {{ form_widget(form.nombre) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="" class="col-sm-2 badge">Nit:</label>
                            {{ form_widget(form.nit) }}
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="" class="col-sm-2 badge">Dirección:</label>
                            {{ form_widget(form.direccion) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="" class="col-sm-2 badge">Teléfono:</label>
                            {{ form_widget(form.telefono) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Informacion del cliente <span class="fa fa-question-circle float-right"
                                              style="color: grey;padding-top: 3px;"
                                              title="Para ver el nombre completo de los campos con puntos (e.j: Por.), posicione el ratón sobre el nombre"></span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="" class="col-sm-2 badge" title="Consecutivo guía">Lista precio:</label>
                            {{ form_widget(form.listaPrecio) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="" class="col-sm-2 badge" title="Manejo mínimo despacho">Condicion
                                comercial:</label>
                            {{ form_widget(form.codigoCondicionFk) }}
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="" class="col-sm-2 badge" title="Porcentaje manejo">Tipo liquidacion:</label>
                            {{ form_widget(form.tipoLiquidacion) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="" class="col-sm-2 badge" title="Porcentaje manejo">Codigo cliente:</label>
                            {{ form_widget(form.codigoClienteFk) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Numeracion <span class="fa fa-question-circle float-right" style="color: grey;padding-top: 3px;"
                                 title="Para ver el nombre completo de los campos con puntos (e.j: Por.), posicione el ratón sobre el nombre"></span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="" class="col-sm-2 badge" title="Consecutivo guía">Consecutivo:</label>
                            {{ form_widget(form.consecutivoGuia) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="" class="col-sm-2 badge" title="Consecutivo guía">Desde:</label>
                            {{ form_widget(form.consecutivoGuiaDesde) }}
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="" class="col-sm-2 badge" title="Consecutivo guía"></label>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="" class="col-sm-2 badge" title="Consecutivo guía">Hasta:</label>
                            {{ form_widget(form.consecutivoGuiaHasta) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row float-right" style="margin-right: 0px;">
            <a href="{{ path('administracion_empresa_lista') }}" class="btn btn-sm btn-secondary">Cancelar</a>
            &nbsp;
            {{ form_widget(form.guardar) }}
        </div>
    </div>
    {{ form_end(form) }}
    <style type="text/css">
        .badge {
            text-align: left;
            padding-top: 10px;
        }
    </style>
{% endblock %}