{% extends 'base.html.twig' %}
{% block title %}
    <h1>Guía <span style="color: grey;font-size: 14px;">/ Nuevo</span></h1>
{% endblock %}
{% block content %}
    {{ form_start(form,{'attr':{'class' : 'form-horizontal'}}) }}
    <div class="content mt-3">
        <div class="card">
            <div class="card-header">
                Información general
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="" class="col-sm-1 badge">Fecha:</label>
                            {{ form_widget(form.fecha) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row float-right" style="margin-right: 0px;">
            <a href="{{ path('movimiento_despacho_lista') }}" class="btn btn-sm btn-secondary">Cancelar</a>
            &nbsp;
            {{ form_widget(form.guardar) }}
        </div>
    </div>
    {{ form_end(form) }}
    <style type="text/css">
        .badge{
            text-align: left;
            padding-top: 10px;
        }
    </style>
{% endblock %}