<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bufalo - Semantica</title>
    <meta name="description" content="Bufalo - Semantica">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="{{ asset('img/favicon/favicon.ico') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('themify-icons/css/themify-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('flag-icon-css/css/flag-icon.min.css') }}">
        <link rel="stylesheet" href="{{ asset('selectFX/css/cs-skin-elastic.css') }}">
        <link rel="stylesheet" href="{{ asset('jqvmap/dist/jqvmap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    {% endblock %}
</head>
<body>
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                    aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./"><img src="{{ asset('img/logo.png') }}"></a>
            <a class="navbar-brand hidden" href="./"><img src="{{ asset('img/favicon/favicon.png') }}" alt="Logo"></a>
        </div>
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{{ path('inicio') }}"> <i class="menu-icon fa fa-dashboard"></i>Inicio </a>
                </li>
                <h3 class="menu-title"> Movimiento</h3>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-book"></i>Guía</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-file"></i><a href="{{ path('movimiento_guia_lista') }}">Lista</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-car"></i>Despacho</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-file"></i><a href="{{ path('movimiento_despacho_lista') }}">Lista</a></li>
                    </ul>
                </li>
                <h3 class="menu-title"> Administración</h3>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>General</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-user"></i><a href="{{ path('administracion_destinatario_lista') }}">Destinatario</a></li>
                        <li><i class="fa fa-building"></i><a href="{{ path('administracion_empresa_lista') }}">Empresa</a></li>
                        <li><i class="fa fa-product-hunt"></i><a href="{{ path('administracion_producto_lista') }}">Producto</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
<div id="right-panel" class="right-panel">
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="header-left">
                    <div class="dropdown for-notification">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="notification"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="count bg-danger">0</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="notification">
                            <p class="red">No hay notificaciones nuevas</p>
                        </div>
                    </div>

                    <div class="dropdown for-message">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="message"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ti-email"></i>
                            <span class="count bg-primary">0</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="message">
                            <p class="red">No tiene correos nuevos</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-user" style="font-size: larger;padding-top: 6px;"></i>
                    </a>
                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="#"><i class="fa fa-user"></i> Usuario</a>
                        <hr>
                        <a class="nav-link" href="{{ path('logout') }}"><i class="fa fa-power-off"></i> Salir</a>
                    </div>
                </div>

                <div class="language-select dropdown" id="language-select">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="language" aria-haspopup="true"
                       aria-expanded="true">
                        <i class="flag-icon flag-icon-co"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="language">
                        <div class="dropdown-item">
                            <span class="flag-icon flag-icon-fr"></span>
                        </div>
                        <div class="dropdown-item">
                            <i class="flag-icon flag-icon-co"></i>
                        </div>
                        <div class="dropdown-item">
                            <i class="flag-icon flag-icon-us"></i>
                        </div>
                        <div class="dropdown-item">
                            <i class="flag-icon flag-icon-it"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>
    {{ obtenerNotificaciones()|raw }}
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                        {% set ruta = app.request.attributes.get('_route')|split('_') %}
                    {% if ruta.1 is defined  %}
                        <h1>{{ ruta.0| capitalize }} <span style="color: grey;"> / {{ ruta.1| capitalize }}</span><span style="color: darkgrey;"> / {{ ruta.2 | capitalize }}</span></h1>
                    {% else %}
                        <h1>Inicio</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% block body %}
        {% block content %}

        {% endblock %}
    {% endblock %}
</div>
</body>
{% block javascripts %}
    <script src="{{ asset('jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('js/general.js') }}"></script>
    <script src="{{ asset('popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ asset('bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('chart.js/dist/Chart.bundle.min.js') }}"></script>
    <script src="{{ asset('js/dashboard.js') }}"></script>
    <script src="{{ asset('js/widgets.js') }}"></script>
    <script src="{{ asset('jqvmap/dist/jquery.vmap.min.js') }}"></script>
    <script src="{{ asset('jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
    <script src="{{ asset('jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
{% endblock %}
</html>
