{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    <div class="content mt-3 bg-white centro">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 centro">
                    <div style="padding-top: 5%;">
                        <h1>LOCALIZADOR</h1>
                        <p style="font-size: 16px;">Servicio para el rastreo de envios</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 centro">
                    <div id="errormessage"></div>
                    {{ form_start(form, { 'attr': {'class': 'contactForm'} }) }}
                    <div class="form-group">
                        {{ form_widget(form.TxtGuia, { 'attr': {'class': 'form-control', 'placeholder':"Digite la guia"} }) }}
                        <div class="validation"></div>
                    </div>

                    <div class="text-center">{{ form_widget(form.BtnBuscar, { 'attr': {'class': 'btn btn-lg btn-block','style':'background:#0099cc;color:white;'} }) }} </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12 centro">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        {% if arrEstados != null and arrEstados.codigoGuia is defined %}
                            <tr>
                                <th>GUIA</th>
                                <th colspan="2">{{ arrEstados.codigoGuia }}
                                    {#<a href="{{ arrEstados.url }}">Descargar</a>#}
                                </th>
                            </tr>
                            <tr>
                                <th>DOCUMENTO</th>
                                <th colspan="2">{{ arrEstados.documentoCliente }}</th>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>ESTADO</th>
                            <th>VALOR</th>
                            <th>FECHA</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if arrEstados != null and arrEstados.codigoGuia is defined %}
                            <tr>
                                <td>Embarcado</td>
                                <td>{{ arrEstados.embarcado?'SI':'NO' }}</td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>Despachado</td>
                                <td>{{ arrEstados.despachado?'SI':'NO' }}</td>
                                <td>{% if arrEstados.fechaDespachado != null %}{{ arrEstados.fechaCumplido | date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td>Entregado</td>
                                <td>{{ arrEstados.entregado?'SI':'NO' }}</td>
                                <td>{% if arrEstados.fechaEntregado != null %}{{ arrEstados.fechaCumplido | date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td>Soporte</td>
                                <td>{{ arrEstados.soporte?'SI':'NO' }}</td>
                                <td>{% if arrEstados.fechaSoporte != null %}{{ arrEstados.fechaCumplido | date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td>Cumplido</td>
                                <td>{{ arrEstados.cumplido?'SI':'NO' }}</td>
                                <td>{% if arrEstados.fechaCumplido != null %}{{ arrEstados.fechaCumplido | date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td>Novedad</td>
                                <td>{{ arrEstados.novedad?'SI':'NO' }}</td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td style="text-align: center;"><a class="btn btn-secondary btn-sm"
                                       href="{{ path('cumplido_guia', {'operador': operador, 'guia': arrEstados.codigoGuia }) }}">Descargar</a>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        .centro{
            text-align: center;
        }
    </style>
{% endblock %}
