{% extends 'base.html.twig' %}
{% block content %}
    <!-- section: contact -->
    <section id="contact" class="section green">
        <div class="container">
            <h4>Rastrear guia</h4>
            <p>
                Servicio de trastreo de envios
            </p>
            <div class="blankdivider30">
            </div>
            <div class="row">
                {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                <div class="span12">
                    <div class="row">
                        <div class="span6">
                            <div class="field subject form-group">
                                {{ form_widget(form.TxtGuia, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="span6">
                            {{ form_widget(form.BtnBuscar, { 'attr': {'class': 'btn btn-theme pull-left'} }) }}
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
                <!-- ./span12 -->
            </div>

            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>ESTADO</th>
                    <th>VALOR</th>
                    <th>FECHA</th>
                </tr>
                </thead>
                <tbody>
                {% for arrEstado in arrEstados %}
                    <tr>
                        <td>{{ arrEstado.estado }}</td>
                        <td>{{ arrEstado.valor }}</td>
                        <td>{{ arrEstado.fecha }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
