{% extends 'base.html.twig' %}
{% block content %}
    <div class="content mt-3">
        <section class="wrapper">
            {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
            {{ form_errors(form) }}
            <div class="col-lg-12">
                <a class="btn btn-secondary btn-sm" href="{{ path('movimiento_guia_lista') }}">Volver</a>
                        {{ form_widget(form.btnImprimir) }}
                        {{ form_widget(form.btnImprimirEtiquetas) }}
                        {{ form_widget(form.btnReliquidar) }}
                        {{ form_widget(form.btnAnular,  { 'attr': {'class': 'btn btn-danger btn-sm', 'onclick': 'return confirm("Esta seguro de anular el registro?")'} }) }}
                <div style="float:right">
                    {% if arGuia.estadoImportado == 1 %}<span
                            class="badge badge-success">Importado</span>{% endif %}
                    {% if arGuia.estadoAnulado == 1 %}<span
                            class="badge badge-danger">Anulado</span>{% endif %}
                </div>
                <br/><br/>
                <div class="card">
                    <div class="card-header">Información</div>
                    <div class="card-body">
                        <table width="100%" class="table table-condensed table-bordered">
                            <tr>
                                <td class="titulo">ID:</td>
                                <td class="td-in-well">{{ arGuia.codigoGuiaPk }}</td>
                                <td class="titulo">FECHA:</td>
                                <td class="td-in-well">{{ arGuia.fecha |date("Y/m/d") }}</td>
                                <td class="titulo">UNIDADES:</td>
                                <td align="right">{{ arGuia.unidades | number_format(0, '.', ',') }}</td>
                            </tr>
                            <tr>
                                <td class="titulo">NUMERO:</td>
                                <td class="td-in-well">{{ arGuia.numero }}</td>
                                <td class="titulo">TIPO:</td>
                                <td class="td-in-well">{{ arGuia.guiaTipoRel.nombre }}</td>
                                <td class="titulo">REAL:</td>
                                <td align="right">{{ arGuia.pesoReal | number_format(0, '.', ',') }}</td>
                            </tr>
                            <tr>
                                <td class="titulo">DOCUMENTO:</td>
                                <td class="td-in-well">{{ arGuia.clienteDocumento }}</td>
                                <td class="titulo">REMITENTE:</td>
                                <td class="td-in-well">{{ arGuia.remitente }}</td>
                                <td class="titulo">VOLUMEN:</td>
                                <td align="right">{{ arGuia.pesoVolumen | number_format(0, '.', ',') }}</td>
                            </tr>
                            <tr>
                                <td class="titulo">CIUDAD ORIGEN:</td>
                                <td class="td-in-well">{{ arGuia.ciudadOrigenRel.nombre }}</td>
                                <td class="titulo">DESTINATARIO:</td>
                                <td class="td-in-well">{{ arGuia.destinatarioNombre }}</td>
                                <td class="titulo">PESO FACTURADO:</td>
                                <td align="right">{{ arGuia.pesoFacturado | number_format(0, '.', ',') }}</td>
                            </tr>
                            <tr>
                                <td class="titulo">TEL DESTINATARIO:</td>
                                <td class="td-in-well">{{ arGuia.destinatarioTelefono }}</td>
                                <td class="titulo">DIR DESTINATARIO:</td>
                                <td class="td-in-well">{{ arGuia.destinatarioDireccion }}</td>
                                <td class="titulo">DECLARADO:</td>
                                <td align="right">{{ arGuia.vrDeclara | number_format(0, '.', ',') }}</td>
                            </tr>
                            <tr>
                                <td class="titulo">CIUDAD DESTINO:</td>
                                <td class="td-in-well">{{ arGuia.ciudadDestinoRel.nombre }}</td>
                                <td class="titulo"></td>
                                <td class="td-in-well"></td>
                                <td class="titulo">FLETE:</td>
                                <td align="right">{{ arGuia.vrFlete | number_format(0, '.', ',') }}</td>
                            </tr>
                            <tr>
                                <td class="titulo"></td>
                                <td class="td-in-well"></td>
                                <td class="titulo"></td>
                                <td class="td-in-well"></td>
                                <td class="titulo">MANEJO:</td>
                                <td align="right">{{ arGuia.vrManejo | number_format(0, '.', ',') }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="content-panel">
                    <section id="unseen">
                        <table class="table table-bordered table-striped table-responsive">
                            {% for arGuiaEstado in arGuiasEstado %}
                            <thead>
                            <tr>
                                <th scope="col" class="th">TIPO</th>
                                <th scope="col" class="th">ESTADO</th>
                                <th scope="col" class="th">FECHA</th>
                            </tr>
                            <tr>
                                <th>INGRESO</th>
                                <td>{% if arGuiaEstado.fechaIngreso == null %} NO {% else %} SI {% endif %}</td>
                                <td>{% if arGuiaEstado.fechaIngreso != null %}{{ arGuiaEstado.fechaIngreso | date ('Y-m-d') }}{% else %} --.-- {% endif %}</td>
                            </tr>
                            <tr>
                                <th>DESPACHADO</th>
                                <td>{% if arGuiaEstado.fechaDespachado == null %} NO {% else %} SI {% endif %}</td>
                                <td>{% if arGuiaEstado.fechaDespachado != null %}{{ arGuiaEstado.fechaDespachado | date ('Y-m-d') }}{% else %} --.-- {% endif %}</td>
                            </tr>
                            <tr>
                                <th>ENTREGADO</th>
                                <td>{% if arGuiaEstado.entregado == true %} SI {% else %} NO {% endif %}</td>
                                <td>{% if arGuiaEstado.entregado == true %}{{ arGuiaEstado.fechaEntregado | date('Y-m-d') }} {% else %} --.-- {% endif %}</td>
                            </tr>
                            <tr>
                                <th>CUMPLIDO</th>
                                <td>{% if arGuiaEstado.cumplido == true %} SI {% else %} NO {% endif %}</td>
                                <td>{% if arGuiaEstado.cumplido == true %}{{ arGuiaEstado.fechaCumplido | date('Y-m-d') }} {% else %} --.-- {% endif %}</td>
                            </tr>
                            <tr>
                                <th></th>
                                <td></td>
                                <td>
                                    <a class="btn btn-secondary btn-sm" href="Javascript:abrirVentana3('{{ path('movimiento_guia_descargar', {'id' : arGuia.numero }) }}', 'Descargar', 200, 400)">DESCARGAR</a>
                                </td>
                            </tr>
                            </thead>
                            {% endfor %}
                        </table>
                    </section>
                </div>
            </div>
            <br/>
            <div class="btn-toolbar" style="float: left">
                <div class="btn-group">
                    <a class="btn btn-secondary btn-sm" href="{{ path('movimiento_guia_lista') }}">Volver</a>
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}