{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <div class="content mt-3">
        <div class="card">
            <div class="card-header">
                Filtros
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="" class="badge col-sm-1" style="padding-top: 12px;">Desde:</label>
                            {{ form_widget(form.fechaDesde) }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="" class="badge col-sm-1" style="padding-top: 12px;">Numero:</label>
                            {{ form_widget(form.txtNumero) }}
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="" class="badge col-sm-1" style="padding-top: 12px;">Hasta:</label>
                            {{ form_widget(form.fechaHasta) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row float-right">
                    <div class="input-group" style="padding-right: 5px;">
                        {{ form_widget(form.btnFiltrar) }}
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered tabla-datos">
            <thead>
            <tr>
                <th scope="col" class="th">ID</th>
                <th scope="col" class="th">GUÍA</th>
                <th scope="col" class="th">FECHA</th>
                <th scope="col" class="th">DOCUMENTO</th>
                <th scope="col" class="th">DESTINATARIO</th>
                <th scope="col" class="th">ORIGEN</th>
                <th scope="col" class="th">DESTINO</th>
                <th scope="col" class="th">CANT</th>
                <th scope="col" class="th" TITLE="peso real">PR</th>
                <th scope="col" class="th" TITLE="peso facturado">PF</th>
                <th scope="col" class="th">DECLARADO</th>
                <th scope="col" class="th">FLETE</th>
                <th scope="col" class="th">MANEJO</th>
                <th scope="col" class="th">IMP</th>
                <th scope="col" class="th">ANU</th>
                <th scope="col" class="th"></th>
                <th scope="col" class="th"></th>
                <th scope="col" class="th"></th>
                <th scope="col" class="th"></th>
                <th scope="col" class="th"></th>
            </tr>
            </thead>
            <tbody>
            {% for arGuia in arGuias %}
                <tr>
                    <th scope="row">{{ arGuia.codigoGuiaPk }}</th>
                    <td>{{ arGuia.numero }}</td>
                    <td>{{ arGuia.fechaIngreso | date('Y-m-d') }}</td>
                    <td>{{ arGuia.clienteDocumento }}</td>
                    <td>{{ arGuia.destinatarioNombre }}</td>
                    <td>{{ arGuia.ciudadOrigen }}</td>
                    <td>{{ arGuia.ciudadDestino }}</td>
                    <td class="numero">{{ arGuia.unidades | number_format(0,'.',',') }}</td>
                    <td class="numero">{{ arGuia.pesoReal | number_format(0,'.',',') }}</td>
                    <td class="numero">{{ arGuia.pesoFacturado | number_format(0,'.',',') }}</td>
                    <td class="numero">{{ arGuia.vrDeclara | number_format(0,'.',',') }}</td>
                    <td class="numero">{{ arGuia.vrFlete | number_format(0,'.',',') }}</td>
                    <td class="numero">{{ arGuia.vrManejo | number_format(0,'.',',') }}</td>
                    <td>{% if arGuia.estadoImportado == 1 %} SI {% else %} NO {% endif %}</td>
                    <td>{% if arGuia.estadoAnulado == 1 %} SI {% else %} NO {% endif %}</td>
                    <td style="text-align: center;">
                        <button class="btn btn-secondary btn-sm " type="submit" name="OpImprimirGuia" value="{{ arGuia.codigoGuiaPk }}">Guia</button></td>
                    <td style="text-align: center;">
                        <button class="btn btn-secondary btn-sm " type="submit" name="OpImprimirEtiqueta" value="{{ arGuia.codigoGuiaPk }}">Etiq</button></td>
                    <td style="text-align: center;">
                        <a title="Editar el registro"
                           href="{{ path('movimiento_guia_nuevo',{'id' : arGuia.codigoGuiaPk }) }}">
                            <span class="fa fa-edit" style="color: black;font-size: medium;"></span>
                        </a>
                    </td>
                    <td style="text-align: center;"><a href="{{ path('movimiento_guia_detalle',{'id' : arGuia.codigoGuiaPk }) }}" style="color: black;"><i class="fa fa-share-square-o" style="font-size: large"></i></a></td>
                    <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arGuia.codigoGuiaPk }}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row float-right" style="padding-right: 15px;">
            <a href="{{ path('movimiento_guia_nuevo',{'id':0}) }}"
               class="btn btn-sm btn-secondary  float-right">Nuevo</a>&nbsp;
            {#{{ form_widget(form.btnEliminar) }}#}
        </div>
        <div class="btn-group" style="float: left;padding-top: 2px;">
            <div class="btn btn-light btn-sm" style="border-style: solid!important;border-color: lightgray;">Registros
                <span class="badge badge-secondary">{{ arGuias.getTotalItemCount }}
            </span>
            </div>
        </div>
        <div class="btn-group">
            {{ knp_pagination_render(arGuias) }}
        </div>
    </div>
    <style type="text/css">
        .th {
            font-size: 12px !important;
        }

        .numero {
            text-align: right;
        }
    </style>
    {{ form_end(form) }}
{% endblock %}